<div id="game" class="d-flex align-items-center flex-column justify-content-center h-100 text-white bg-part-1 fading">
    <div class="container-fluid">
        <div class="row img-games">
            <div class="col-lg-6 col-md-6 col-xm-6 col-xs-6 mx-auto text-center">
                <img class="img-fluid" [src]="playService.images[first]" alt="FirstIMG"
                (click) = "onSecond()">
            </div>
            <div class="col-lg-6 col-md-6 col-xm-6 col-xs-6 mx-auto text-center">
                <img class="img-fluid" [src]="playService.images[second]" alt="SecondIMG"
                (click) = "onFirst()">
            </div>
        </div>
    </div>
</div>